# Virtual environments
venv/

# Environment variables
.env

# Data (raw files should not be versioned)
data/raw/*
!data/raw/.gitkeep

# Python cache
__pycache__/
.ipynb_checkpoints/

# OS files
.DS_Store
